
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.question {
    font-size: 20px;
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.answer {
    font-size: 16px;
    padding: 10px;
    display: none;
}


