/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background image */
body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Replace with our background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between; /* Spread the elements */
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.language-select {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px; /* Add margin to separate the buttons */
}

#language-select {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

#sign-in-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the center content section */
.center-content {
    text-align: center;
}

.signup-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.signup-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

#email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

