body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px; 
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;

  }
  
  .buttons button {
    width: 25%; 
    height: 60px; 
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #8B4513;
    color: #fff;
  }
  
  .buttons button:hover {
    background-color: #A0522D;
  }
  